<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= dish.title %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et mollitia ex ipsa tempora. Rem doloremque molestias ea id accusantium, consequatur nemo laboriosam quo velit cupiditate expedita sapiente voluptas, omnis vero.</p>

    <img src="<%= dish.imagem_url %>" alt="">
    

    <form action="/dishes/<%= dish.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>delete</button>
    </form>

    <a href="/dishes/<%= dish.id %>/edit">edit</a>
</body>
</html>